<header class="site-header">
  <div class="head-wrapper">
    <div class="logo-and-name">
      <div class="logo">
        <img src="http://jessecrow.com/img/bluejarlogo.png" alt="logo of a mason jar with a subtle j in it" id="logo">
      </div>
      <div class="name">
        <h2 id="name">Jesse Crow</h2>
        <h3 id="title">designer &amp; developer</h3>
      </div>
    </div>
  </div>
  <nav class="nav-collapse">
    <ul>
      <li {% if page.category == 'portfolio' %} class="nav-current" {% endif %}><a href="/index.html">portfolio</a></li>
      <li {% if page.category == 'blog' %} class="nav-current" {% endif %}><a href="/blog/">blog</a></li>
      <li {% if page.category == 'about' %} class="nav-current" {% endif %}><a href="/about.html">about</a></li>
      <li {% if page.category == '100-Days' %} class="nav-current" {% endif %}><a href="/100days.html">100 days project</a></li>
    </ul>
  </nav>
</header>