/*general*/
.wrapper {
	width: 90%;
	max-width: 71.25rem;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	overflow: hidden;
}

img {
	width: 100%;
	max-width: 40.625rem;
}

h1 {
	font-size: $fontsize--double;
	font-family: $header-type;
	font-weight: bold;
	line-height: $lineheight--small;
	margin-bottom: $space--main;
}

a {
	border-bottom: .25rem solid rgba($callout, .4);
	color: $primary;
	font-family: $body-type;
	font-size: $fontsize--main;
	font-weight: 500;
	line-height: $lineheight--main;
	position: relative;
	text-decoration: none;
	transition: border-bottom .3s ease;
	&:hover {
		border-bottom: .25rem solid rgba($callout, 1);
	}
/*	&::after {
		background-color: rgba($callout, .4);
		content: '';
		display: inline-block;
		height: .5rem;
		left: 0;
		position: absolute;
		top: .75rem;
		width: 100%;
		z-index: -1;
	}*/
}

.a--nounderline {
	border-bottom: none;
	&:hover {
		border-bottom: none;
	}
}


/*header*/
.header--main {
	border-bottom: .25rem double rgba($primary, .25);
	margin-bottom: $space--double;
	margin-top: $space--main;	
	padding-bottom: $space--half;
}

.header__container {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 2.5rem;
}

#menu {
	color: $primary;
	font-size: 1.25rem;
	position: relative;
	&:hover {
		cursor: pointer;
	}
/*	&::after {
		background-color: rgba($callout, .4);
		content: '';
		display: inline-block;
		height: .75rem;
		left: 0;
		position: absolute;
		top: 1.25rem;
		width: 100%;
		z-index: -1;
	}*/
}

#nav--main {
	transition: max-height .4s ease, opacity .4s ease;
	&[data-state="closed"] {
		max-height: 0rem;
		opacity: 0;
	}
	&[data-state="open"] {
		max-height: 6rem; /*100% won't work bc it can't transition*/
		opacity: 1;
	}
	li {
		border-bottom: .25rem solid transparent; /*add so that transition isn't choppy*/
		transition: border-bottom .3s ease;
		width: 4.125rem; /*width of largest li, so border doesn't span 100%*/
		&:hover {
			border-bottom: .25rem solid $callout;
		}
	}
	a {
		border-bottom: none;
	}
}

.navitem--current {
	border-bottom: .25rem solid $callout !important; /*!important needed so that it will override the transparent border on line 50*/
}


/*portfolio index*/
.index__intro {
	background-color: $primary;
	margin-bottom: $space--double;
	padding-bottom: $space--double;
	padding-top: $space--double;
	position: relative;
	p {
		color: $bg;
		font-size: $fontsize--medium;
		margin-left: 5%;
		margin-right: 5%;
		max-width: 40.625rem;
	}
}

.portfolio__item {
	margin-bottom: $space--double;
}

.portfolio__title {
	font-size: $fontsize--medium;
	&::after {
		top: .875rem;
	}
}


/*footer*/
.footer--main {
	border-top: .25rem double rgba($primary, .25);
	margin-bottom: $space--double;
	padding-top: $space--main;
	overflow: hidden;
}

.footer__group:not(:last-of-type) {
	margin-bottom: $space--main;
}

.footer__title {
	color: $primary;
	font-family: $header-type;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: $lineheight--small;
}


/*portfolio page*/
.project {
	margin-bottom: $space--double;
}

.project__content, .project__image {
	max-width: 40.625rem;
	margin-right: auto;
	margin-left: auto;
}

.project__links {
	margin-bottom: $space--double;
}

.project__content p:not(.project__sectionheader) {
	margin-bottom: $space--main;
}

.project__sectionheader {
	color: $primary;
	font-family: $header-type;
	font-size: $fontsize--large;
	line-height: $lineheight--small;
	margin-bottom: 0;
	margin-top: $space--medium;
	&:first-of-type {
		margin-top: 0;
	}
}

.project__content ul {
	list-style: circle;
	margin-left: 1.25rem;
	li {
		margin-bottom: $space--quarter;
	}
}

.project__image {
	&:first-of-type {
		margin-top: $space--double;
	}
	img {
		margin-bottom: $space--main;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}


/*blog index*/
.post__individual {
	margin-bottom: $space--double;
	max-width: 40.625rem;
}

.post__meta {
	font-size: $font-size--small;
}

.post__link {
	font-size: $fontsize--medium;
}

.pagination {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: $space--double;
}

.pagination__older, .pagination__newer {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 6.0625rem; /*have to set explicit width for safari*/
}

.pagination__newer {
	margin-bottom: $space--main;
	width: 6.6rem; /*have to set explicit width for safari*/
}


/*blog post*/
.header--post, .post__content {
	max-width: 40.625rem;
	margin-right: auto;
	margin-left: auto;
}

.post__content p, .post__content ul {
	margin-bottom: $space--main;
}

.post__content ul {
	list-style: circle;
}

.post__content ul li {
	margin-bottom: $space--quarter;
}

.post__title {
	color: $primary;
	font-family: $header-type;
	font-size: $fontsize--large;
	font-weight: 500;
	margin-bottom: $space--medium;
	line-height: $lineheight--small;
}

.post__meta--individual {
	margin-top: $space--negmain;
	margin-bottom: $space--double
}

.pagination__older--post {
	width: 7.75rem;
}

.pagination__newer--post {
	width: 6rem;
}

/*about*/
.about__intro {
	display: flex;
	justify-content: space-between;
	margin-bottom: $space--main;
}

.svg--heyyall {
  animation: wave 3s ease-in-out;
  animation-delay: 3s;
  transform-origin: center 75%;
  width: 10rem;
}

@keyframes wave {
  20% {transform: rotate(-7deg);}
  40% {transform: rotate(7deg);}
  60% {transform: rotate(-7deg);}
  80% {transform: rotate(7deg);}
  100% {transform: rotate(0deg);}
}

.hey, .yall {
  stroke: #346699;
}

.hey {
  animation: offset 2s linear forwards;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

.yall--word {
  animation: offset 2s linear forwards;
  animation-delay: 1.5s;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

.yall--apostrophe {
  animation: offset .5s linear forwards;
  animation-delay: 2.1s;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

@keyframes offset {
  100% { stroke-dashoffset: 0; }
}

.about__photo {
	display: block;
	height: 40%;
	width: 40%;
}

.about__maintext {
	p {
		margin-bottom: $space--main;
		max-width: 40.625rem;
		&:last-of-type {
			margin-bottom: $space--double;
		}
	}
}

.about__quotewrapper {
	background-color: $primary;
	margin-bottom: $space--main;
	margin-top: $space--double;
	padding: $space--double 5%;
	q {
		color: $bg;
		display: inline-block;
		font-family: $body-type;
		font-size: $fontsize--medium;
		line-height: $lineheight--main;
		max-width: 40.625rem;
	}
}

.about__header {
	color: $primary;
	font-family: $header-type;
	font-size: $fontsize--medium;
	line-height: $lineheight--small;
}

.about__skills, .about__workingon {
	float: left;
}

.about__skills {
	margin-right: $space--double;
}









/*100 days project--needs refactoring*/
.intro-text {
	text-align: center;
	margin-bottom: 2rem;
}

.day {
	margin-bottom: 2rem;
	max-width: 40.625rem;
	h3 {
		margin-bottom: 0.5rem;
	}
}