/*general*/
.wrapper, .head-wrapper {
	width: 90%;
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

img {
	width: 100%;
	max-width: 650px;
}

/*header*/
header {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#logo {
	max-width: 50px;
}

.logo, .name {
	float: left;
}

.logo {
	margin-right: 1rem;
}

.name {
	margin-top: 24px;
}

.logo-and-name {
	overflow: hidden;
}

/*footer*/
footer {
	border-top: 5px solid $primary;
}

/*portfolio index*/
.portfolio-item {
	margin-bottom: 2rem;
	a {
		text-decoration: none;
	}
}