/*general*/
.wrapper, .head-wrapper {
	width: 90%;
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	overflow: hidden;
}

img {
	width: 100%;
	max-width: 650px;
}

/*header*/
header {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#logo {
	max-width: 50px;
}

.logo, .name {
	float: left;
}

.logo {
	margin-right: 1rem;
}

.name {
	margin-top: 24px;
}

.logo-and-name {
	overflow: hidden;
}

/*footer*/
footer {
	border-top: 5px solid $primary;
	margin-bottom: 2rem;
	overflow: hidden;
}

.footer-social {
	margin-top: 2rem;
	ul {
		overflow: hidden;
	}
}

.footericon {
	width: 30px;
	float: left;
	margin-right: 1rem;
}

.colophon, .recently {
	margin-top: 1rem;
}

.contact {
	margin-top: 0.5rem;
	display: block;
}

.recently li {
	margin-bottom: 0.5rem;
}

/*portfolio index*/
.portfolio-item {
	margin-bottom: 2rem;
}

/*blog index*/
.post-float {
	margin-bottom: 2rem;
	max-width: 650px;
}

.older-posts, .newer-posts {
	display: block;
	text-align: center;
}

.pagination {
	margin-bottom: 4rem;
	margin-top: 2rem;
}

/*blog post*/
.post-header, .post-content {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}

.post-content p, .post-content ul {
	margin-bottom: 1rem;
}

.post-content ul {
	list-style: circle;
}

.post-content ul li {
	margin-bottom: 0.25rem;
}

.blog-post-meta {
	text-align: center;
	margin-bottom: 2rem;
	margin-top: -1.25rem;
}

.previous-entry, .next-entry {
	display: block;
	text-align: center;
}

.blog-nav {
	margin-bottom: 4rem;
	margin-top: 2rem;
}

/*about*/
.about-content {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}

.prof-pic {
	max-width: 300px;
	display: block;
	margin: 0 auto 2rem auto;
}

.about-main-text {
	margin-bottom: 2rem;
	p, q {
		margin-bottom: 1rem;
	}
	q {
		display: block;	
	}
}

.about-lists {
	overflow: hidden;
	margin-bottom: 4rem;
	margin-top: 2rem;
	.skills, .workingon {
		width: 47.5%;
		float: left;
	}
	.skills {
		margin-right: 5%;
	}
}

/*portfolio page*/
.project-content, .project-image {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}

.project-content p {
	margin-bottom: 1rem;
}

.project-content ul {
	list-style: circle;
	margin-left: 1.25rem;
	li {
		margin-bottom: 1rem;
	}
}

.project-image {
	margin-bottom: 1rem;
}

.project-image:first-of-type {
	margin-top: 2rem;
}

.project-image:last-of-type {
	margin-bottom: 4rem;
}

.project-page-header {
	margin-top: 2rem;
}