/***global CSS***/

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
}

.wrapper {
    width: 95%;
    max-width: 56.25em; /*900px*/
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
    }
}


/***header***/
.site-header {
    border-bottom: 0.0625em solid $teal-color-light;
    min-height: 3em;
    max-width: 100%;
}

.site-title {
    font-size: 1.5em;
    line-height: 2em;
    float: left;
    font-weight: 400;

    &,
    &:visited {
        color: $teal-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 3em;
    .page-link {
        color: $brand-color;
        line-height: $base-line-height;
    }
     .page-link:hover {
        color: $text-color;
    }
}


/***footer***/
.site-footer {
    border-top: 0.0625em solid $teal-color-light;
    max-width: 100%;
}

.contact-list,
.social-media-list {
    list-style: none;
}

.social-media-list li {
    display: inline-block;
    margin-left: 0.625em;
}

.social-media-list li:nth-of-type(1) {
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 1em;
    color: $teal-color;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin: 0 auto;
}


/***about***/
.main-about {
    width: 95%;
    margin: 0 auto;
    p {
        margin-top: 1em;
    }
    h1 {
        font-size: 1.75em;
        text-align: center;
    }
    h4 {
        text-decoration: underline;
    }
}

.currently {
    h4 {
        margin-top: 0.5em;
    }
    span {
        font-style: italic;
    }
}

.top-prof-pic {
    margin: 0 auto;
}

.profile-picture-top {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin: 0 auto;
}

.bottom-prof-pic {
    display: none;
}


/***page content***/
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 1.25em;
}


/***blog posts main view (currently index.html)***/
.post-list {
    margin-left: 0;
    list-style: none;
    > div {
        margin-bottom: $spacing-unit;
    }
}

.post-float {
    margin: 0 auto;
    max-width: 100%;
    h2 {
        text-decoration: underline;
        margin-bottom: 1em;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $teal-color;
}

.post-link {
    display: block;
    font-size: 1.5em;
}

.post-link:hover {
    font-weight: 400;
    margin: 0;
}

/***Posts***/
.post-header {
    margin-bottom: calc(#{$spacing-unit}/2);
    max-width: 43.75em;
    margin-right: auto;
    margin-left: auto;
    h3 {
        font-size: 1.75em;
    }
}

.post-title {
    font-size: 2.5em;
}

.post-content {
    margin-bottom: $spacing-unit;
    max-width: 43.75em;
    margin-right: auto;
    margin-left: auto;
    p {
        margin-bottom: calc(#{$spacing-unit}/2);
    }
    h2 {
        font-size: 2em;
        margin-bottom: calc(#{$spacing-unit}/2);
        }
    h3 {
        font-size: 1.625em;
    }
    h4 {
        font-size: 1.25em;
    }
    .half-size-image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
}

.post-float-container {
    .post-float-image {
        width: 100%;
        margin: 0 auto;
    }
    .post-float-image:nth-of-type(even) {
    }
}





/***things that were included in the original that I don't understand/want to mess up***/
/*only change is converting px to em*/
/***figures***/
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/***code formatting***/
pre,
code {
    font-size: 1em;
    border: 0.0625em solid $teal-color-light;
    border-radius: 0.1875em;
    background-color: #eef;
}

code {
    padding: 0.0625em 0.3125em;
}

pre {
    padding: 0.5em 0.75em;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/***icons***/
.icon {

    > svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;

        path {
            fill: $teal-color;
        }
    }
}




/***styling for individual post elements***/
.carrots {
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}