/***global scss for smallest devices***/

/***general***/
html {
	height: 100%;
}

h1 {
	font-size: 2.75rem;
	text-align: center;
	text-transform: uppercase;
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-decoration: underline;
}

.wrapper, .head-wrapper {
	width: 90%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

.head-wrapper {
	width: 90%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

img {
	width: 100%;
}

.site-header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: $blue;
}

footer {
	clear: both;
	overflow: hidden;
	padding-top: 1.75rem;
	padding-bottom: 1.5rem;
	z-index: 9999;
	background-color: $blue;
}

header {
	z-index: 9999;
	.small-logo {
		float: left;
	}
	.name {
		margin-left: 20px;
		float: left;
		padding-top: 19px;
		p {
			color: white;
		}
	}
	.side-nav-info, .side-nav-links {
		display: none;
	}
	.logo-and-name {
		overflow: hidden;
		width: 60%;
		margin: 0;
	}
}

/***header***/
.small-logo {
	width: 40px;
	float: left;
}


/***footer***/
footer {
	p {
		text-align: center;
	}
	a {
		text-decoration: none;
	}
	a:hover {
		border-bottom: 2px solid white;
	}
	li {
		float: left;
		width: 35%;
		text-align: center;
		margin-bottom: 0.5rem;
		a:hover {
			border-bottom: 2px solid white;
		}
		.twitter {
			width: 0.75rem;
			display: inline-block;
		}
		.icon {
			width: 1rem;
			display: inline-block;
		}
		.username {
			display: inline-block;
			margin-left: 0.25rem;
		}
	}
	li:nth-of-type(odd) {
		margin-left: 15%;
	}
	li:nth-of-type(even) {
		margin-right: 15%;
	}
}

/***blog index***/
.blog-banner {
	background-image: url(/img/hero-banner/blog-sketching.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 4.5rem;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	h1 {
		text-align: center;
		letter-spacing: 2px;
		text-shadow: 0px 0px 10px black;
	}
}

.post-list {
	margin-bottom: 4rem;	
}

.post-float {
	margin-bottom: 3rem;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	h2 {
		border-bottom: 2px solid white;
		a {
			text-decoration: none;
			border-bottom: 2px solid white;
		}
		a:hover {
			border-bottom: 2px solid $green;
		}
	}
}

.pagination {
	background-color: lighten($yellow, 10%);
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-top: 1rem;
	.page-number {
		margin-right: 10%;
		margin-left: 10%;
	}
	.older-posts, .newer-posts {
		text-decoration: none;
		border-bottom: 2px solid lighten($yellow, 10%);
	}
	.older-posts:hover, .newer-posts:hover {
		border-bottom: 2px solid darken($blue, 10%);
	}
	.older-posts {
		float: left;
	}
	.newer-posts {
		float: right;
	}
}

/***blog page***/
.post-header, .post-content {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}

.post-header {
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-align: center;
	h1 {
		margin-bottom: 1rem;
	}
}

.post-content {
	margin-bottom: 3rem;
	p, ul {
		margin-bottom: 0.5rem;
	}
	img {
		margin-bottom: 0.75rem;
		margin-top: 0.75rem;
	}
}

.post-float-container {
	overflow: hidden;
	.post-float-image {
		width: 50%;
		float: left;
	}
}

.blog-nav {
	background-color: lighten($yellow, 10%);
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 3em;
	overflow: hidden;
	.previous-entry, .next-entry {
		text-decoration: none;
		color: darken($blue, 10%);
		border-bottom: 2px solid lighten($yellow, 10%);
	}
	.previous-entry:hover, .next-entry:hover {
		border-bottom: 2px solid darken($blue, 10%);
	}
	.previous-entry {
		float: left;
	}
	.next-entry {
		float: right;
	}
}

.blog-gif {
	display: block;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.blog-logo {
	width: 200px;
	height: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/***about page***/ 
.about-banner {
	background-image: url(/img/hero-banner/about-banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 3.5rem;
	padding-top: 3.5rem;
	margin-bottom: 4.5rem;
	h1 {
		text-align: center;
		letter-spacing: 2px;
		text-shadow: 0px 0px 10px black;
	}
}

.prof-pic {
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3rem;
}

.about-main-text {
	margin-bottom: 3rem;
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
	.about-intro {
		line-height: 1.8rem;
		margin-bottom: 0.5rem;
	}
	p {
		margin-bottom: 1rem;
		font-size: 1.1rem;
	}
	q {
		margin-bottom: 1rem;
		font-size: 1.1rem;
	}
}

.skills {
	clear: both;
	overflow: hidden;
	h2 {
		margin-bottom: 2rem;
	}
		.skill {
			margin-bottom: 2rem;
			width: 45%;
			float: left;
		.skill-icon {
			width: 40%;
			margin: 0 auto;
			img {
				max-width: 50px;
				display: block;
				margin-right: auto;
				margin-left: auto;
			}
		}	
		.skill-name {
			text-align: center;	
			line-height: 1.2;
		}
	}
	.skill:nth-of-type(odd) {
			margin-right: 10%;
		}
}

.currentlys {
	clear: both;
	overflow: hidden;
	h2 {
		margin-bottom: 2rem;
	}
	.currently {
		width: 45%;
		float: left;
		margin-bottom: 2rem;
	.currently-icon {
		width: 40%;
		margin: 0 auto;
		img {
				max-width: 50px;
				display: block;
				margin-right: auto;
				margin-left: auto;
			}
	}	
	.currently-name {
		text-align: center;
		line-height: 1.2;	
	}
}
.currently:nth-of-type(odd) {
	margin-right: 10%;
}
}

/***portfolio index page***/
.portfolio-index-header {
	background-image: url(/img/hero-banner/home-setup.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	margin-bottom: 4.5rem;
	h2 {
		color: $yellow;
	}
	h1, h2 {
		text-shadow: 0px 0px 10px black;
	}
}

.portfolio-item {
	overflow: hidden;
	margin-bottom: 6rem;
	a {
		text-decoration: none;
		font-style: normal;
	}
	.portfolio-snippet {
		max-width: 650px;
		margin-bottom: 0.5rem;
		margin-right: auto;
		margin-left: auto;
	}
	.portfolio-snippet-info {
		max-width: 650px;
		margin-right: auto;
		margin-left: auto;
		h2 {
			display: inline-block;
			border-bottom: 2px solid white;
		}
		h2:hover {
			border-bottom: 2px solid $green;
		}
	}
}

/***project page***/
.project-header, .project-content {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}

.project-header {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	h1{
		margin-bottom: 1rem;
	}
}

.project-content {
	margin-bottom: 3rem;
	.project-links {
		text-align: center;
	}
	p, ul {
		margin-bottom: 1.5rem;
	}
	ul {
		list-style-type: disc;
	}
	img {
		margin-bottom: 0.75rem;
		margin-top: 0.75rem;
	}
}

/***contact***/
.contact-banner {
	background-image: url(/img/hero-banner/contact-banner.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 4.5rem;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	h1 {
		text-align: center;
		letter-spacing: 2px;
		text-shadow: 0px 0px 10px black;
	}
}

.contact-intro {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}

.quote, .typeform {
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2em;
}

.typeform {
	height: 400px;
	iframe {
		border: 0;
	}
}