/***global scss for smallest devices***/

/***general***/
.wrapper {
	width: 90%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

img {
	width: 100%;
}

.site-header {
	background-color: lighten($yellow, 25%);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

footer {
	clear: both;
	background-color: lighten($yellow, 25%);
	overflow: hidden;
	padding-top: 1rem;
	z-index: 9999;
}

header {
	z-index: 9999;
}

/***footer***/
footer {
	p {
		text-align: center;
	}
	li {
		float: left;
		width: 35%;
		text-align: center;
		margin-bottom: 0.5rem;
		a:hover {
			border-bottom: 2px solid $blue;
		}
		.twitter {
			width: 0.75rem;
			display: inline-block;
		}
		.icon {
			width: 1rem;
			display: inline-block;
		}
		.username {
			display: inline-block;
			margin-left: 0.25rem;
		}
	}
	li:nth-of-type(odd) {
		margin-left: 15%;
	}
	li:nth-of-type(even) {
		margin-right: 15%;
	}
}

/***blog index***/
.blog-banner {
	background-image: url(/img/hero-banner/blogzone.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3rem;
	h1 {
		padding-top: 1.75rem;
		padding-bottom: 1.75rem;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.post-list {
	margin-bottom: 4rem;	
}

.post-float {
	margin-bottom: 3rem;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	h2 {
		a {
			text-decoration: none;
		}
		a:hover {
			border-bottom: 2px solid $seafoam;
		}
	}
}

.pagination {
	background-color: $blue;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-bottom: 4em;
	.page-number {
		margin-right: 10%;
		margin-left: 10%;
	}
	.older-posts, .newer-posts {
		text-decoration: none;
	}
	.older-posts {
		float: left;
	}
	.newer-posts {
		float: right;
	}
}

/***blog page***/
.post-header, .post-content {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}

.post-header {
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-align: center;
	h1 {
		margin-bottom: 1rem;
	}
}

.post-content {
	margin-bottom: 3rem;
	p {
		margin-bottom: 0.5rem;
	}
	img {
		margin-bottom: 0.75rem;
		margin-top: 0.75rem;
	}
}

.post-float-container {
	overflow: hidden;
	.post-float-image {
		width: 50%;
		float: left;
	}
}

/***about page***/ 
.prof-pic {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3rem;
}

.about-main-text {
	margin-bottom: 3rem;
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
	.about-intro {
		line-height: 1.8rem;
		margin-bottom: 0.5rem;
	}
	p {
		margin-bottom: 0.5rem;
	}
}

.skills {
	clear: both;
	h2 {
		margin-bottom: 2rem;
	}
		.skill {
			overflow: hidden;
			margin-bottom: 1rem;
		.skill-icon {
			width: 30%;
			margin-right: 10%;
			float: left;
		}	
		.skill-name {
			width: 60%;
			float: left;
			padding-top: 2.5rem;
			padding-bottom: 2.5rem; 	
		}
	}
}

.skill-list {
	overflow: hidden;
}

.currentlys {
	clear: both;
	overflow: hidden;
	margin-top: 2rem;
	margin-bottom: 6rem;
	h2 {
		margin-bottom: 2rem;
	}
	.currently {
		overflow: hidden;
		margin-bottom: 1rem;
	.currently-icon {
		width: 30%;
		margin-right: 10%;
		float: left;
	}	
	.currently-name {
		width: 60%;
		float: left;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem; 	
	}
}
}

/***portfolio index page***/
.portfolio-index-header {
	background-image: url(/img/hero-banner/blogzone.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
	margin-bottom: 3rem;
	h2 {
		color: $yellow;
	}
}

.portfolio-item {
	overflow: hidden;
	margin-bottom: 6rem;
	a {
		text-decoration: none;
		font-style: normal;
	}
	.portfolio-snippet {
		max-width: 650px;
		margin-bottom: 0.5rem;
		margin-right: auto;
		margin-left: auto;
	}
	.portfolio-snippet-info {
		max-width: 650px;
		margin-right: auto;
		margin-left: auto;
		h2 {
			display: inline-block;
		}
		h2:hover {
			border-bottom: 2px solid $seafoam;
		}
	}
}

/***project page***/
.project-header, .project-content {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}

.project-header {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	h1{
		margin-bottom: 1rem;
	}
}

.project-content {
	margin-bottom: 3rem;
	.project-links {
		text-align: center;
	}
	p {
		margin-bottom: 1.5rem;
	}
	img {
		margin-bottom: 0.75rem;
		margin-top: 0.75rem;
	}
}

/***contact***/
.quote, .typeform {
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2em;
}

.typeform {
	height: 400px;
	iframe {
		border: 0;
	}
}