$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #519fbd;

$teal-color:       #2b5464;
$teal-color-light: lighten($teal-color, 40%);
$teal-color-dark:  darken($teal-color, 25%);