$type: #6d767e; /*grey*/
$links: #db6962; /*peach*/
$primary: #346699; /*blue*/
$secondary: #db6962; /*peach*/
$bg: #fafaff; /*off white*/


/*general*/
body {
	background-color: $bg;
}

/*type*/
p, li, q {
	color: $type;
}

a {
	color: $links;
	transition: color 0.3s ease;
}

a:hover {
	color: darken($links, 10%);
}

h1, h2, h3, h4, h5, h6 {
	color: $primary;
}

.portfolio-item {
	h3 {
		color: $links;
		transition: color 0.3s ease;
	}
	h3:hover {
		color: darken($links, 10%);
	}
}

/*nav*/
.nav-collapse, .nav-toggle {
  background-color: $primary;
}

.nav-toggle:hover {
	color: white;
}

.nav-collapse li {
	transition: background-color 0.3s ease;
}

.nav-collapse li:hover {
	background-color: $secondary;
}

.nav-current {
	background-color: lighten($secondary, 8%);
}