$type: #6d767e; /*grey*/
$links: #db6962; /*peach*/
$primary: #346699; /*blue*/
$secondary: #db6962; /*peach*/
$bg: #fafaff; /*off white*/


/*general*/
body {
	background-color: $bg;
}

/*type*/
p, li, q {
	color: $type;
}

a {
	color: $links;
}

h1, h2, h3, h4, h5, h6 {
	color: $primary;
}

.portfolio-item {
	h3 {
		color: $links;
	}
}

/*nav*/
.nav-collapse, .nav-toggle {
  background-color: $primary;
}

.nav-collapse li:hover {
	background-color: $secondary;
}