$type: #6c757d; /*grey*/
$links: #066446; /*green*/
$primary: #346699; /*blue*/
$secondary: #066446; /*green*/
$bg: #fafaff; /*off white*/
$callout: #77CDB1; /*light teal*/











/*general*/
body {
	background-color: $bg;
}

/*type*/
p, li, q {
	color: $type;
}



h1, h2, h3, h4, h5, h6, #name, #title, .footer-section-title {
	color: $primary;
}

.post-title, .blog-post-meta, .project-page-header {
	color: $primary;
}

.post-link {
	color: $links;
}

.portfolio-item {
	h3 {
		color: $links;
		transition: color 0.3s ease;
	}
	h3:hover {
		color: darken($links, 10%);
	}
}

/*nav*/
.nav-collapse, .nav-toggle {
  background-color: $primary;
}

.nav-toggle:hover {
	color: white;
}

.nav-collapse li {
	transition: background-color 0.3s ease;
}

.nav-collapse li:hover {
	background-color: $secondary;
}

.nav-current {
	background-color: lighten($secondary, 8%);
}