/***change hero/banner image padding and footer layout***/
@media screen and (min-width: 620px) {
/***footer***/
footer {
	li {
		width: 25%;
		margin-top: 0.25rem;
	}
	li:nth-of-type(odd) {
		margin-left: 0%;
	}
	li:nth-of-type(even) {
		margin-right: 0%;
	}
}

/***photo in about***/
.prof-pic {
	width: 40%;
}

/***project page***/
.project-float-container {
	overflow: hidden;
	.project-float-image {
		width: 50%;
		float: left;
	}
}

/***about***/
.skill-list {
	@include grid(5.5);
	background-color: lighten($blue, 45%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1.5rem;
	height: 575px;
}
.skill-list:nth-of-type(odd) {
	margin-right: $col;
}
.skill-list:nth-of-type(1) {
	margin-bottom: 2rem;
}
.skill-list:nth-of-type(3) {
	margin-bottom: 4rem;
}


.currentlys {
	.currently {
	@include grid (5.5);
	background-color: lighten($blue, 45%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1.5rem;
	height: 250px;
	.currently-icon {
		float: none;
		width: 40%;
		margin-right: auto;
		margin-left: auto;
	}
	.currently-name {
		text-align: center;
		width: 100%;
		float: none;
		padding-top: 0;
		padding-bottom: 0;
	}
}
}

.currently:nth-of-type(odd) {
	margin-right: $col;
}


}


/***header change***/
@media screen and (min-width: 660px) {
.big-logo {
	display: block;
	width: 40px;
}

.small-logo {
	display: none;
}
}



/***media query for largest screens***/
@media screen and (min-width: 900px) {
/***blog***/

.post-float {
	@include grid(5.5);
}
.post-float:nth-of-type(odd) {
	margin-right: $col;
}

/***footer***/
footer {
	p {
		text-align: left;
	}
	li {
		margin-top: 0;
	}
}

.footer-paragraph {
	float: left;
	width: 35%;
}

.footer-social {
	float: left;
	width: 65%;
}

/***about***/
.prof-pic {
	@include grid(3);
	margin-right: ($col * 2);
}

.about-main-text {
	@include grid(7);
}

/***portfolio index page***/
.portfolio-item {
	@include grid(5.5);
}

.portfolio-item:nth-of-type(odd) {
	margin-right: $col;
}

/***about***/
.skill-list {
	@include grid(3.5);
}
.skill-list:nth-of-type(1), .skill-list:nth-of-type(2) {
	margin-right: ($col * 0.75);
}

.skill-list:nth-of-type(3) {
	margin-right: 0;
}


.currentlys {
	.currently {
		@include grid (2.75);
		.currently-icon {
			width: 60%;
		}
	}
}

.currently:nth-of-type(odd) {
	margin-right: ($col * 0.333);
}

.currently:nth-of-type(2) {
	margin-right: ($col * 0.333);
}


/***footer***/
footer {
	li {
		text-align: right;
	}
}

}
