/***change hero/banner image padding and footer layout***/
@media screen and (min-width: 620px) {
/***general***/
h1 {
	font-size: 3rem;
}	

/***footer***/
footer {
	ul {
		overflow: hidden;
	li {
		width: 25%;
		margin: 0;
	}
	li:nth-of-type(odd) {
		margin-left: 0%;
	}
	li:nth-of-type(even) {
		margin-right: 0%;
	}
}
}

.footer-social {
	overflow: hidden;
}

/***photo in about***/
.prof-pic {
	width: 40%;
}

/***project page***/
.project-float-container {
	overflow: hidden;
	.project-float-image {
		width: 50%;
		float: left;
	}
}

/***about***/
.skills {
		.skill {
			width: 30%;
			float: left;
			margin-right: 5%;
		.skill-icon {
			width: 40%;
			margin: 0 auto;
		}	
	}
	.skill:nth-of-type(odd) {
			margin-right: 5%;
		}
		.skill:nth-of-type(3n+3) {
			margin-right: 0;
		}
}

.currentlys {
	.currently {
	.currently-icon {
		width: 30%;
		margin: 0 auto;
	}
}
}


}


/***header change***/
@media screen and (min-width: 660px) {
.big-logo {
	display: block;
	width: 40px;
}

.small-logo {
	display: none;
}

header {
	float: left;
	height: 100%;
	width: 250px;
	position: absolute;
}

.wrapper {
	width: calc(100% - 250px);
	margin: 0 auto;
	padding-left: 280px;
	padding-right: 30px;
}
}



/***media query for largest screens***/
@media screen and (min-width: 958px) {
/***blog***/

.post-float {
	@include grid(5.5);
}
.post-float:nth-of-type(odd) {
	margin-right: $col;
}

/***footer***/
footer {
	p {
		text-align: left;
	}
	li {
		margin-top: 0;
	}
}

.footer-paragraph {
	float: left;
	width: 35%;
}

.footer-social {
	float: left;
	width: 65%;
}

/***about***/
.prof-pic {
	@include grid(3);
	margin-right: ($col * 2);
}

.about-main-text {
	@include grid(7);
}

/***portfolio index page***/
.portfolio-item {
	@include grid(5.5);
}

.portfolio-item:nth-of-type(odd) {
	margin-right: $col;
}

/***about***/
.skills {
		.skill {
			width: 22%;
			float: left;
			margin-right: 4%;	
	}
	.skill-icon {
			width: 40%;
			margin: 0 auto;
		}	
	.skill:nth-of-type(odd) {
			margin-right: 4%;
		}
		.skill:nth-of-type(3n+3) {
			margin-right: 4%;
		}
	.skill:nth-of-type(4n+4) {
		margin-right: 0;
	}
}

.currentlys {
		.currently {
			width: 22%;
			float: left;
			margin-right: 4%;
		.currently-icon {
			width: 40%;
			margin: 0 auto;
		}	
	}
	.currently:nth-of-type(odd) {
			margin-right: 4%;
		}
	.currently:nth-of-type(4n+4) {
		margin-right: 0;
	}
}


/***footer***/
footer {
	li {
		text-align: right;
	}
}

}
