/*! responsive-nav.js 1.0.34 by @viljamis */

.small-nav {
  float: right;  
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  // background-color: lighten($yellow, 25%);
  overflow: hidden;
}

// .nav-collapse li {
//   text-align: left;
// }

.nav-collapse a {
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
  color: white;
  letter-spacing: 0.02rem;
  font-size: 1.15rem;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 500px;
  position: relative;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: white;
  font-size: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  letter-spacing: 0.03rem;
  text-decoration: none;
  border-radius: 2rem;
  background-color: darken($blue, 10%);
  display: block;
  width: 50%;
}

.logo {
  display: none;
}

@media screen and (min-width: 660px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
 .nav-collapse ul {
   text-align: center;
 }
 .small-nav {
  float: none;
}
.nav-collapse li, .logo {
   display: inline-block;
   margin-left: 4.5em;
   a {
     text-decoration: none;
   }
   a:hover {
     border-bottom: 2px solid white;
   }
 }
 .nav-collapse li:nth-of-type(1) {
   margin-left: 0;
}

  }