@media screen and (min-width: 660px) {
/*portfolio items on index*/
.portfolio-item {
	width: 47.5%;
	float: left;
	min-height: 250px;
}
.portfolio-item:nth-of-type(odd) {
	margin-right: 5%;
}


/*blog index*/
.post-float {
	width: 47.5%;
	float: left;
	min-height: 250px;
}
.post-float:nth-of-type(odd) {
	margin-right: 5%;
}


/*blog post*/
.post-float-container {
	overflow: hidden;
	clear: both;
}

.post-float-image {
	width: 50%;
	float: left;
	margin-bottom: 1rem;
}

}

@media screen and (min-width: 700px) {
	.footer-social, .colophon, .recently {
		width: 30%;
		float: left;
	}
	.colophon {
		margin-right: 5%;
		margin-left: 5%;
	}
	.footer-social {
		margin-top: 1rem;
	}
}



@media screen and (min-width: 760px){
	/*about*/
	.prof-pic {
		float: left;
		width: 30%;
		margin-right: 5%;
	}
	.about-content {
		float: right;
		width: 65%;
	}
}


@media screen and (min-width: 760px) {
	/*portfolio page*/
	.project-content {
		width: 55%;
		margin-right: 5%;
		float: left;
	}
	.project-image {
		width: 40%;
		float: right;
	}
}


@media screen and (min-width: 1040px) {
	/*portfolio items on index*/
	.portfolio-item {
		width: 30%;
		float: left;
	}
	.portfolio-item:nth-of-type(odd) {
		margin-right: 0%;
	}
	.portfolio-item:nth-of-type(3n+2) {
		margin-right: 5%;
		margin-left: 5%;
	}

	/*blog index*/
	.post-float {
		width: 30%;
		float: left;
	}
	.post-float:nth-of-type(odd) {
		margin-right: 0%;
	}
	.post-float:nth-of-type(3n+2) {
		margin-right: 5%;
		margin-left: 5%;
	}
}