@media screen and (min-width: 41.25rem) {
/*header*/
.header--main {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

#menu {
	display: none;
}

#nav--main {
	ul {
		display: flex;		
		li:not(:first-of-type) {
			margin-left: $space--main;
		}
	}
	li /*to override styles in base, needs to be outside ul to be same selector*/ {
		width: 100%;
	}
}

/*override default closed state*/#nav--main[data-state="closed"] {
	max-height: 100%;
	opacity: 1;
}












/*portfolio items on index*/
.portfolio__item {
	width: 47.5%;
	float: left;
	min-height: 250px;
}
.portfolio__item:nth-of-type(odd) {
	margin-right: 5%;
}


/*blog index*/
.post-float {
	width: 47.5%;
	float: left;
	min-height: 17.625rem;
}
.post-float:nth-of-type(odd) {
	margin-right: 5%;
}


/*blog post*/
.post-float-container {
	overflow: hidden;
	clear: both;
}

.post-float-image {
	width: 50%;
	float: left;
	margin-bottom: 1rem;
}

/*100 days project*/
.day {
	width: 47.5%;
	float: left;
}

.day:nth-of-type(even) {
	margin-right: 5%;
}

}

@media screen and (min-width: 43.75rem) {
	.footer-social, .colophon, .recently {
		width: 30%;
		float: left;
	}
	.colophon {
		margin-right: 5%;
		margin-left: 5%;
	}
	.footer-social {
		margin-top: 1rem;
	}
}



@media screen and (min-width: 47.5rem){
	/*about*/
	.prof-pic {
		float: left;
		width: 30%;
		margin-right: 5%;
	}
	.about-content {
		float: right;
		width: 65%;
	}

	/*portfolio page*/
	.project-content {
		width: 55%;
		margin-right: 5%;
		float: left;
	}
	.project-image {
		width: 40%;
		float: right;
	}
}


@media screen and (min-width: 65rem) {
	/*portfolio items on index*/
	.portfolio__item {
		width: 30%;
		float: left;
	}
	.portfolio__item:nth-of-type(odd) {
		margin-right: 0%;
	}
	.portfolio__item:nth-of-type(3n+2) {
		margin-right: 5%;
		margin-left: 5%;
	}

	/*blog index*/
	.post-float {
		width: 30%;
		float: left;
	}
	.post-float:nth-of-type(odd) {
		margin-right: 0%;
	}
	.post-float:nth-of-type(3n+2) {
		margin-right: 5%;
		margin-left: 5%;
	}
}