/*! responsive-nav.js 1.0.34 by @viljamis */

.small-nav {
  float: right;  
  width: 30%;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  background-color: lighten($yellow, 25%);

}

.nav-collapse li {
  width: 100%;
  display: block;
  text-align: left;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 500px;
  position: relative;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: white;
  font-size: 1.25rem;
  padding: 0.75rem;
  text-align: center;
  letter-spacing: 0.03rem;
  text-decoration: none;
  border-radius: 2rem;
  background-color: darken($blue, 15%);
  display: block;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

    .nav-collapse ul {
   text-align: center;
 }
  

   .nav-collapse li {
     display: inline-block;
     margin-left: 3.5em;
     a {
       text-decoration: none;
     }
     a:hover {
       border-bottom: 2px solid $blue;
     }
   }
   .nav-collapse li:nth-of-type(1) {
     margin-left: 0;
   }

  }