/*! responsive-nav.js 1.0.34 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  overflow: hidden;
  text-align: right;
}

.nav-collapse li {
  text-align: right;
  display: block;
}

// .nav-collapse li:nth-of-type(3) {
//   display: none;
// }

.nav-collapse a {
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
  color: white;
  letter-spacing: 0.02rem;
  font-size: 1.15rem;
  text-decoration: none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  width: 60%;
  float: right;
  clear: both;
}

.nav-collapse.opened {
  max-height: 500px;
  position: relative;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
  display: block;
  float: right;
  font-style: normal;
  margin-top: 15px;
}

@media screen and (min-width: 660px) {
  .js .nav-collapse {
    position: relative;
    margin-top: 0;
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
 .nav-collapse ul {
   text-align: center;
 }
.nav-collapse li {
   display: inline-block;
   margin-left: 0em;
   width: 100%;
   text-align: left;
   a:hover {
     border-bottom: 2px solid white;
   }
 }
 .nav-collapse li:nth-of-type(1) {
   margin-left: 0;
   margin-top: 3em;
}
.nav-collapse li:nth-of-type(3) {
  display: inline-block;
}


  }