/*! responsive-nav.js 1.0.34 by @viljamis */

.small-nav {
  float: right;
  background-color: darken($blue, 15%);
  width: 30%;
  text-align: center;
  border-radius: 1rem;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  background-color: lighten($yellow, 25%);

}

.nav-collapse li {
  width: 100%;
  display: block;
  text-align: left;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 300px;
  position: relative;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: white;
  font-size: 1.25rem;
  padding: 1.5rem;
  text-align: center;
  letter-spacing: 0.03rem;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}