@media screen and (min-width: 660px) {
/*footer*/
.colophon, .recently {
	@include grid(5.5);
}
.colophon {
	margin-right: $gut * 2;
	float: left;
}
.recently {
	float: right;
}

/*portfolio items on index*/
.portfolio-item {
	width: 47.5%;
	float: left;
	min-height: 250px;
}
.portfolio-item:nth-of-type(odd) {
	margin-right: 5%;
}


}


@media screen and (min-width: 800px) {
	.colophon, .recently {
		width: 35%;
	}
	.footer-social {
		width: 23%;
		margin-top: 1.1rem;
	}
	.footer-social, .recently {
		float: left;
	}
	.colophon {
		margin-right: 2rem;
		margin-left: 2rem;
	}
}



@media screen and (min-width: 1040px) {
	/*portfolio items on index*/
	.portfolio-item {
		width: 30%;
		float: left;
	}
	.portfolio-item:nth-of-type(odd) {
		margin-right: 0%;
	}
	.portfolio-item:nth-of-type(3n+2) {
		margin-right: 5%;
		margin-left: 5%;
	}

}