$body-type: "adelle", serif;
$header-type: "proxima-nova", sans-serif;

#menu {
	font-size: 1.25rem;
}

a {
	font-family: $body-type;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.8;
	text-decoration: none;
}












p, li {
	font-family: $body-type;
	line-height: 1.8;
	font-size: 1rem;
}



q {
	font-family: $body-type;
	line-height: 1.8;
	font-style: italic;
	font-size: 1.1rem;
}

h1, h2, h3, h4, h5, .post-link, .project-page-header, .footer-section-title {
	font-family: $header-type;
	line-height: 1.2;
}

h1 {
	font-size: 1.6rem;
	font-weight: bold;
}

.post-title {
	font-family: $header-type;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1.5rem;
	line-height: 1.2;
}

h2 {
	font-size: 1.5rem;
}

h3, .post-link, .project-page-header {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}

h5 {
	font-size: 1.2rem;
}

.blog-post-meta {
	font-size: 0.875rem;
	font-family: $header-type;
	line-height: 1.2;
}

#name {
	font-family: $body-type;
	font-size: 1.25rem;
	line-height: 1.2;
}

#title {
	font-style: italic;
	font-size: 1rem;
	line-height: 1.2;
	font-family: $header-type;
}

.footer-section-title {
	font-weight: 600;
	font-size: 1.2rem;
}

.older-posts, .newer-posts {
	font-size: 1.1rem;
}

.project-title {
	text-align: center;
}

.project-links {
	text-align: center;
}

.day {
	h2 {
		font-size: 1.3rem;
	}
	h3 {
		font-size: 0.875rem;
	}
}