$body-type: "adelle", serif;
$header-type: "proxima-nova", sans-serif;

a, p {
	font-family: $body-type;
	line-height: 1.8;
	font-size: 1rem;
}

h1, h2, h3, h4, h5 {
	font-family: $header-type;
	line-height: 1.2;
}

h1 {
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.2rem;
}

#name {
	font-family: $body-type;
}

#title {
	font-style: italic;
}

.colophon h5, .recently h5 {
	font-weight: 600;
}