$body-type: "adelle", serif;
$header-type: "proxima-nova", sans-serif;

a, p, li {
	font-family: $body-type;
	line-height: 1.8;
	font-size: 1rem;
}

a {
	text-decoration: none;
}

q {
	font-family: $body-type;
	line-height: 1.8;
	font-style: italic;
	font-size: 1.1rem;
}

h1, h2, h3, h4, h5, .post-link {
	font-family: $header-type;
	line-height: 1.2;
}

h1 {
	font-size: 1.6rem;
	font-weight: bold;
}

.post-title {
	text-align: center;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.5rem;
}

h3, .post-link {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}

h5 {
	font-size: 1.2rem;
}

.blog-post-meta {
	font-size: 0.875rem;
}

#name {
	font-family: $body-type;
}

#title {
	font-style: italic;
}

.colophon h5, .recently h5 {
	font-weight: 600;
}

.older-posts, .newer-posts {
	font-size: 1.1rem;
}