$font-family: 'adelle', serif;

p, a, span, li, .page-number, q {
	line-height: 1.8;
}

h1, h2, h3, h4 {
	line-height: 1.3;
}

p, .page-number, q {
	font-family: $font-family;
	font-weight: 400;
	font-size: 1rem;
}

a {
	font-family: $font-family;
	font-weight: 600;
	font-style: italic;
}

h4 {
	font-family: $font-family;
	font-weight: 700;
	font-size: 1.1rem;
	margin-top: 2rem; /***for where it's used in responsive sketches blog post***/
}

h3 {
	font-family: $font-family;
	font-weight: 700;
	font-size: 1.25rem;
}

h2 {
	font-family: $font-family;
	font-weight: 700;
	font-size: 1.6rem;
}

h2 {
	a {
		font-family: $font-family;
		font-weight: 700;
		font-size: 1.6rem;
	}
} /***for blog tiles in blog index***/

h1 {
	font-family: $font-family;
	font-weight: 700;
	font-size: 3.5rem;
}

.about-intro {
	font-family: $font-family;
	font-weight: 400;
	font-size: 1.6rem;
}