/*change var names to primary and secondary?*/
/*add vars for typescale*/

$body-type: "adelle", serif;
$header-type: "proxima-nova", sans-serif;
$lineheight--main: 1.8;
$lineheight--small: 1.2;


$fontsize--half: .5rem;
$font-size--small: .875rem;
$fontsize--main: 1rem;
$fontsize--medium: 1.2rem;
$fontsize--large: 1.5rem;
$fontsize--double: 2rem;












p, li {
	font-family: $body-type;
	line-height: $lineheight--main;
	font-size: 1rem;
}



q {
	font-family: $body-type;
	line-height: $lineheight--main;
	font-style: italic;
	font-size: 1.1rem;
}

h2, h3, h4, h5, .project-page-header, .footer-section-title {
	font-family: $header-type;
	line-height: $lineheight--small;
}




h2 {
	font-size: 1.5rem;
}

h3, .post-link, .project-page-header {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}

h5 {
	font-size: 1.2rem;
}

.blog-post-meta {
	font-size: 0.875rem;
	font-family: $header-type;
	line-height: $lineheight--small;
}


.older-posts, .newer-posts {
	font-size: 1.1rem;
}

.project-title {
	text-align: center;
}

.project-links {
	text-align: center;
}

.day {
	h2 {
		font-size: 1.3rem;
	}
	h3 {
		font-size: 0.875rem;
	}
}