/*change var names to primary and secondary?*/
/*add vars for typescale*/

$type--main: "proxima-nova", sans-serif;


$lineheight--main: 1.8;
$lineheight--small: 1.3;

$fontsize--half: 0.5rem;
$fontsize--small: 0.875rem;
$fontsize--main: 1.05rem;
$fontsize--medium: 1.2rem;
$fontsize--large: 1.5rem;
$fontsize--double: 2rem;

p, li, a {
	font-family: $type--main;
	line-height: $lineheight--main;
	font-size: $fontsize--main;
	font-weight: 400;
}

h1, h2, h3, h4, h5, .project-page-header, .footer-section-title, .list__title, .p--callout {
	font-family: $type--main;
	font-weight: 500;
	line-height: $lineheight--small;
}

h2 {
	font-size: $fontsize--large;
}

h3, .post-link, .project-page-header {
	/*font-size: 1.4rem;*/
	font-size: $fontsize--medium;
}

h4 {
	/*font-size: 1.3rem;*/
	font-size: $fontsize--medium;
	margin-bottom: 0.5rem;
}

h5, .list__title {
	font-size: $fontsize--medium;
}

.blog-post-meta {
	font-size: $fontsize--small;
	font-family: $type--main;
	line-height: $lineheight--small;
}


/*.older-posts, .newer-posts {
	font-size: 1.1rem;
}*/

.project-title {
	text-align: center;
}

.project-links {
	text-align: center;
}

.day {
	h2 {
		/*font-size: 1.3rem;*/
		font-size: $fontsize--medium;
	}
	h3 {
		font-size: $fontsize--small;
	}
}