---
layout: default
title: Jesse Crow | Blog
category: blog
---
<div class="wrapper">
  <section class="post__list"> <!--list of all blog posts with titles and excerpts-->
    {% for post in paginator.posts %}
      <div class="post__individual"> <!--individual blog post-->
        <p class="post__meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <p>{{ post.excerpt }}</p>
      </div>
    {% endfor %}
  </section>
</div>

<nav class="pagination" role="pagination">
   {% if paginator.previous_page %}
       {% if paginator.previous_page == 1 %}
           <a class="pagination__newer" href="/blog/" title="Previous Page">Newer Posts &raquo;</a>
       {% else %}
           <a class="pagination__newer" href="/blog/page{{ paginator.previous_page }}/" title="Previous Page">Newer Posts &raquo;</a>
     {% endif %}
   {% endif %}
   <!-- <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span> -->
   {% if paginator.next_page %} 
       <a class="pagination__older" href="/blog/page{{ paginator.next_page }}/" title="Next Page">&laquo; Older Posts</a>
   {% endif %} 
</nav>