---
layout: default
category: blog
---
<div class="wrapper">
	<header class="header--post">
		<p class="post__title">{{ page.title }}</p>
		<p class="post__meta post__meta--individual">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	</header>
	<article class="post__content">
		{{ content }}
	</article>
</div>
<nav class="pagination" role="pagination">
	<a class="pagination__newer" href="{{ page.next.url }}">Next Entry &raquo;</a>
	<a class="pagination__older" href="{{ page.previous.url }}">&laquo; Previous Entry</a>
</nav>